<!DOCTYPE html>
<html lang="en">

<%- include('head'); -%>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('sidebar', {active: 'index'}); -%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include('topbar'); -%>
       
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            
          </div>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Mensajes Totales</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><%= countAll %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Mensajes creados ult. 60 días</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><%= countLast60 %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comment fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Content Row -->
          <div class="row">
                <div class="col-lg-6 mb-4">
                
                    <!-- Approach -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Development Config</h6>
                        </div>
                        <div class="card-body">
                            <div>
                                <strong>Contract Address: </strong>
                                <p><%= utils.appConfig().ethereum.contractAddress %></p>
                            </div>
                            <div>
                                <strong>Network: </strong>
                                <p><%= utils.appConfig().ethereum.networkName %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                
                    <!-- Approach -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Contracto ABI JSON</h6>
                        </div>
                        <div class="card-body">
                            <pre id="json-contract-abi"><code></code></pre>
                        </div>
                    </div>
                </div>
            
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%- include('footer'); -%>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <%- include('body-end'); -%>


<script>
    $(function () {
        $.get('contract-abi', function (response) {
            window.response = response;
            $('#json-contract-abi code').html(JSON.stringify(response, undefined, 2));
        })
    })
</script>

</body>

</html>
