
<!DOCTYPE html>
<html lang="en">

<%- include('head'); -%>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('sidebar', {active: 'users'}); -%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include('topbar'); -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>
          <p class="mb-4">Tabla de los usuarios registrados</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Usuarios registrados</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i < users.length; i++) { %>
                        <tr>
                            <td><a href="users/<%= users[i] %>"><%= users[i] %></a></td>
                        </tr>
                    <% } %>
                                     
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%- include('footer'); -%>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <%- include('body-end'); -%>

</body>

</html>
