<!DOCTYPE html>
<html lang="en">

<%- include('head'); -%>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('sidebar', {active: 'create-message'}); -%>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include('topbar'); -%>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">
                        <%= __('create_message.create') %>
                    </h1>
                    <p class="mb-4"> <i class="fa fa-lg fa-exclamation-triangle text-warning"></i> <%= __('create_message.warning') %></p>
                    <p class="mb-4"><i class="fa fa-dollar-sign fa-lg" style="color:green"></i> <%= __('create_message.warning_cost') %></p>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><%= __('create_message.message') %></h6>
                        </div>
                        <div class="card-body">
                            <form action="message" method="POST">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <span class="font-weight-bold"><%= __('create_message.message') %>: </span>
                                        <textarea name="message" class="form-control" placeholder="Escriba aquí su mensaje"></textarea>
                                        <div class="pt-2">
                                            <button class="btn btn-primary btn-block"><%= __('Save') %></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include('footer'); -%>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <%- include('body-end'); -%>

</body>

</html>