<!DOCTYPE html>
<html lang="en">

<%- include('head'); -%>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <% if(logged){ %>
                    <h1 style="color: green;">logged</h1>
                    <a href="">&larr; Go to home</a>
                <% } else{ %>
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                  <div style="text-align: right; padding: 6px 6px;">
                      <a href="">&larr; Go to home</a>
                  </div>
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login Ethereum <%= utils.appConfig().ethereum.networkName %></h1>
                  </div>

                  <div id="login-by-select" class="text-center">
                        <div class="pb-3"><%= __('Log in with') %> </div>
                        <button class="btn btn-secondary btn-block mb-2" onclick="loginByKeystore()">
                            <%= __('Sign in with {{name}}', {name: 'keystore'}) %>
                        </button>
                        <a class="btn btn-danger btn-block" href="<%= urlGoogle %>">
                            <i class="fab fa-google"></i> &nbsp;&nbsp;
                            <%= __('Sign in with {{name}}', {name: 'Google'}) %>
                        </a>
                  </div>

                  <form id="login-by-keystore" class="user" method="POST" action="login">
                    <div class="form-group">
                      <textarea style="border-radius: 2rem;" name="keystore" class="form-control form-control-user" placeholder="Enter keystore content"></textarea>
                    </div>
                    <div class="form-group">
                      <input name="password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me (Not implemented yet)</label>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-user btn-block">
                        <%= __('Login') %>
                    </button>
                    <button class="btn btn-secondary btn-user btn-block" type="button" onclick="cancelLogin()">
                        <%= __('Cancel') %>
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <%= __('Use Ethereum Wallet credentials for network') %> <strong><%= utils.appConfig().ethereum.networkName %></strong>
                  </div>
                  <div class="text-center pt-2">
                    <%= __("Don't have an account?") %> <a href="register"><%= __('Sign up') %></a>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <link rel='stylesheet' href='stylesheets/style.css' />

    <script>
        $(function () {
            $('#login-by-keystore').hide();
        });    
        function loginByKeystore() {
            $('#login-by-select').hide();
            $('#login-by-keystore').show();
        }
        function cancelLogin() {
            $('#login-by-select').show();
            $('#login-by-keystore').hide();
        }
    </script>

</body>

</html>
