
<!DOCTYPE html>
<html lang="en">

<%- include('head'); -%>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('sidebar', {active: 'messages'}); -%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include('topbar'); -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">
                <%= __('Message') %>: <%= message.address %>
          </h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><%= __('Message') %></h6>
            </div>
            <div class="card-body">
                <div>
                    <span class="font-weight-bold"><%= __('Message') %>: </span><label><%= message.message %></label>
                </div>
                <div>
                    <span class="font-weight-bold"><%= __('Date') %>: </span><label><%= utils.formatDate(message.timestamp*1000) %></label>
                </div>
            </div>
        </div>
          
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%- include('footer'); -%>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <%- include('body-end'); -%>

</body>

</html>

