<!DOCTYPE html>
<html lang="en">

<%- include('head'); -%>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center pb-2">
                                        <h1 class="h4 text-gray-900 mb-4"><%= __('register_google.title') %></h1>
                                        <span>
                                            <%= __('register_google.instructions') %>
                                        </span>
                                    </div>
                                  
                                    <form class="user" method="POST" action="register">
                                        <div class="form-group">
                                            <input name="password" type="text"
                                                class="form-control form-control-user" id="exampleInputPassword"
                                                placeholder="Password" value="<%= passwordPhrase %>">
                                        </div>
                                        <input type="hidden" name="registerId" value="<%= registerId %>" >
                                        <button class="btn btn-primary btn-user btn-block">
                                            <%= __('Create account') %>
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        Demo MyPrediction
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <link rel='stylesheet' href='stylesheets/style.css' />

</body>

</html>