<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">HELLO<sup>2</sup>YOU</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item <%= active == 'index' ? 'active' : '' %>">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        MENU
    </div>

    <li class="nav-item <%= active == 'users' ? 'active' : '' %>">
        <a class="nav-link" href="users">
            <i class="fas fa-fw fa-user"></i>
            <span>Users</span>
        </a>
    </li>
    <li class="nav-item <%= active == 'register-user' ? 'active' : '' %>">
        <a class="nav-link" href="users/create">
            <i class="fas fa-fw fa-user-plus"></i>
            <span>Register user</span>
        </a>
    </li>
    <li class="nav-item <%= active == 'validate-user' ? 'active' : '' %>">
        <a class="nav-link" href="users/validate">
            <i class="fas fa-fw fa-user-check"></i>
            <span>Validate user</span>
        </a>
    </li>
    <li class="nav-item <%= active == 'messages' ? 'active' : '' %>">
        <a class="nav-link" href="message">
            <i class="fas fa-fw fa-comments"></i>
            <span>Messages</span>
        </a>
    </li>
    <li class="nav-item <%= active == 'create-message' ? 'active' : '' %>">
        <a class="nav-link" href="message/create">
            <i class="fas fa-fw fa-comment-medical"></i>
            <span>Create message</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->